<md-sidenav layout-align="right" layout="column" class="md-sidenav-right" md-is-locked-open="$mdMedia('gt-sm')"
            md-component-id="right">
  <md-toolbar class="md-theme-indigo">
    <div layout="row" layout-align="end center">
      <div layout="column">
        <md-button class="md-icon-button md-primary" aria-label="Settings" ui-sref="home.settings">
          <md-icon md-font-icon="material-icons" ng-style="{color: 'white'}">
            settings
          </md-icon>
        </md-button>
      </div>
    </div>

  </md-toolbar>
  <md-content layout-padding>
    <time-date-picker ng-model="main.selectedDate.date"></time-date-picker>
  </md-content>
</md-sidenav>
