<md-card>
  <md-card-header>
    <md-card-header-text>
      <span class="md-title">{{shift.title}}</span>
      <span class="md-subhead">{{shift.hours}} {{'HOURS' | translate}}</span>
    </md-card-header-text>
  </md-card-header>

  <md-card-content>
    <div ng-repeat="curentShiftEmployee in shift.order" class="show-on-hover-chileds" layout="row" layout-fill>
      <md-input-container flex="40">
        <label translate="NAME"></label>
        <input type="text" ng-model="curentShiftEmployee.name" ng-change="shiftCtrl.onDataChange()">
      </md-input-container>
      <md-input-container flex="40">
        <label translate="LOCATION"></label>
        <textarea ng-model="curentShiftEmployee.location" ng-change="shiftCtrl.onDataChange()"></textarea>
      </md-input-container>
      <md-input-container flex="10">
        <label translate="HOURS"></label>
        <textarea ng-model="curentShiftEmployee.hours" ng-change="shiftCtrl.onDataChange()"></textarea>

      </md-input-container>
      <div flex="10" class="show-on-parent-hover">
        <md-button class="md-warn md-icon-button" aria-label="More" ng-click="shiftCtrl.removeEmployee(shift.order, $index)">
          <md-icon md-font-icon="material-icons">
            delete
          </md-icon>
        </md-button>
      </div>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center" class="no-print">
    <md-button class="md-fab md-primary" aria-label="Add Employee" ng-click="shiftCtrl.addEmployee(shift.order)">
      <md-icon md-font-icon="material-icons" ng-style="{color: 'white'}">
        person_add
      </md-icon>
    </md-button>
  </md-card-actions>
</md-card>

